/* line 3, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
* {
  box-sizing: border-box; }

/* line 5, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
body {
  margin: 0;
  background: url("../assets/img/pattern.jpg");
  background-color: #932a2a;
  background-blend-mode: darken; }

/* line 12, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
h1, h2, h3, h4, p, li {
  position: relative;
  color: #efefef;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 1.5em auto; }

/* line 22, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
h1, h2, h3, h4 {
  font-weight: 700;
  text-align: center; }

/* line 27, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
p {
  max-width: 800px; }

/* line 29, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
a {
  text-decoration: none;
  display: block;
  color: #efefef; }

/* line 35, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
a[quote] {
  color: #bababa;
  font-style: italic;
  max-width: 800px; }
  /* line 40, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
  a[quote]:hover {
    text-decoration: underline; }

/* line 45, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
button {
  background: #000000;
  border: 0;
  color: #efefef;
  padding: 10px 30px; }
  /* line 51, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
  button:hover {
    border: 1px solid #efefef; }
  /* line 53, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_global.scss */
  button:focus {
    outline: 0; }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
header {
  width: 100vw;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background: #000000;
  padding: 0 20px;
  z-index: 1; }

/* line 12, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  float: left;
  cursor: pointer; }
  /* line 18, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
  .header__logo img {
    height: 40px;
    margin: 5px 0 auto 0; }
  /* line 23, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
  .header__logo__text {
    margin: auto; }

/* line 26, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
.header__items {
  float: right;
  margin-right: 20px; }
  /* line 30, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
  .header__items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px; }
  /* line 35, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_header.scss */
  .header__items li {
    display: inline;
    margin: auto;
    cursor: pointer; }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_intro.scss */
.intro {
  width: 100vw;
  height: 100vh; }
  /* line 7, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_intro.scss */
  .intro img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    cursor: default;
    transform-origin: top left;
    transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
    height: 60%; }
    /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
    .intro img:hover {
      transform: scale(1.005) translate(-50%, -50%); }
    @media only screen and (max-width: 1000px) {
      /* line 7, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_intro.scss */
      .intro img {
        width: 80%;
        height: auto; } }
  /* line 16, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_intro.scss */
  .intro button {
    position: absolute;
    left: 50vw;
    top: 90vh;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform-origin: top left;
    transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97); }
    /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
    .intro button:hover {
      border: 1px dashed #efefef;
      transform: scale(1.03) translate(-50%, -50%); }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_about.scss */
.about {
  padding: 40px 80px;
  width: 100vw; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_about.scss */
    .about {
      padding: 40px 20px; } }
  /* line 8, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_about.scss */
  .about p {
    text-align: center; }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
.personas {
  padding: 40px 80px;
  width: 100vw; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
    .personas {
      padding: 40px 20px; } }
  /* line 8, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
  .personas p {
    text-align: center; }
  /* line 10, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
  .personas__crousel {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; }
    /* line 14, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
    .personas__crousel img {
      width: 120px;
      height: 120px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform-origin: top left;
      transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
      transform-origin: center center;
      margin: 20px;
      border-radius: 50%; }
      /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
      .personas__crousel img:hover {
        border: 1px dashed #efefef;
        transform: scale(1.05); }
    /* line 22, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
    .personas__crousel .active {
      border: 5px solid #efefef; }
  /* line 25, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
  .personas__info {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    cursor: default;
    transform-origin: top left;
    transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
    width: 60%;
    margin: 80px 0 0 20%;
    transform-origin: center center; }
    /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
    .personas__info:hover {
      transform: scale(1.01); }
    @media only screen and (max-width: 1000px) {
      /* line 25, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_personas.scss */
      .personas__info {
        width: 100%;
        margin: 40px 0 0 0; } }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
.posters {
  padding: 40px 80px;
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
    .posters {
      padding: 40px 20px; } }
  /* line 8, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
  .posters p {
    text-align: center; }
  /* line 10, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
  .posters__preview {
    position: fixed;
    left: 0;
    top: 0;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9; }
    /* line 18, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
    .posters__preview i {
      position: absolute;
      left: 95vw;
      top: 40px;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform-origin: top left;
      transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
      font-size: 36px;
      color: #efefef;
      z-index: 10; }
      /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
      .posters__preview i:hover {
        border: 1px dashed #efefef;
        transform: scale(1.2) translate(-50%, -50%); }
    /* line 26, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
    .posters__preview img {
      width: 600px;
      height: 600px; }
    /* line 29, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
    .posters__preview h4 {
      width: 100%; }
  /* line 32, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
  .posters__container {
    width: auto;
    height: auto;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px; }
  /* line 38, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
  .posters__item {
    width: 300px;
    height: 300px;
    margin: 20px auto; }
    /* line 42, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_posters.scss */
    .posters__item img {
      width: 90%;
      height: auto;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform-origin: top left;
      transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
      transform-origin: center center; }
      /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
      .posters__item img:hover {
        border: 1px dashed #efefef;
        transform: scale(1.02); }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_videos.scss */
.videos {
  padding: 40px 80px; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_videos.scss */
    .videos {
      padding: 40px 20px; } }
  /* line 7, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_videos.scss */
  .videos p {
    text-align: center; }
  /* line 9, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_videos.scss */
  .videos__container {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px; }
  /* line 15, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_videos.scss */
  .videos__item {
    width: 300px;
    height: 200px;
    background: #000000;
    margin: 20px; }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_documentation.scss */
.documentation {
  padding: 40px 80px; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_documentation.scss */
    .documentation {
      padding: 40px 20px; } }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
.team {
  padding: 40px 80px;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
    .team {
      padding: 40px 20px; } }
  /* line 8, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
  .team p {
    text-align: center; }
  /* line 10, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
  .team__container {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 80px; }
  /* line 15, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
  .team__member {
    width: 300px; }
    /* line 18, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_team.scss */
    .team__member img {
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform-origin: top left;
      transition: 0.2s transform cubic-bezier(0.35, 0.24, 0.25, 0.97);
      transform-origin: center;
      width: 50%;
      margin-left: 25%;
      border-radius: 50%; }
      /* line 43, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_mixin.scss */
      .team__member img:hover {
        border: 1px dashed #efefef;
        transform: scale(1.02); }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_references.scss */
.references {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 600px) {
    /* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_references.scss */
    .references {
      padding: 40px 20px; } }
  /* line 9, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_references.scss */
  .references__grid {
    width: auto;
    height: auto; }

/* line 4, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_footer.scss */
footer {
  width: 100vw;
  height: 50px;
  background: #000000;
  margin-top: 120px; }

/* line 11, /Users/harsimranpunia/Documents/GitHub/2tier_healthcare_webpage/sass/_footer.scss */
.footer__copyright {
  color: #666;
  text-align: center;
  line-height: 50px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */