@import "mixin";
@import "variables";

.posters {
    @include wrapper();
    @include size(100%, auto);
    
    p {text-align: center}
    
    &__preview {
        @include fixPos(0, 0, false);
        @include flexGrid(center, center);
        @include size(100vw, 100vh);
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9;
        
        i {
            @include absPos(95vw, 40px);
            @include hover(true, pointer, 1.2);
            font-size: 36px;
            color: $mainWhite;
            z-index: 10;
        }
        
        img {
            @include size(600px, 600px);   
        }
    }
    
    &__container{
        @include size(auto, auto);
        @include flexGrid(center, center);
        margin-top: 40px;
    }
    
    &__item {
        @include size(300px, 300px);
        margin: 20px auto;
        
        img {
            @include size(90%, auto);
            @include hover(false, pointer, 1.02);
            transform-origin: center center;
        }
    }
}